@import "./card-component.css";

/* default */
body {
  line-height: 1;

  /* position */
  position: relative;

  /* grid */
  display: grid;

  /* bgc */
  background-color: var(--white, #f5f5f7);
}

.navigation {
  /* position */
  position: sticky;
  inset-block-start: 0;
  z-index: 0;
  background-color: rgba(245, 245, 247, 0.85);

  /* flex */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 46px;
    aspect-ratio: 1 / 1;

    &:hover {
      fill: gray;

      /* hover transition */
      transition: fill 1s;
    }
  }

  svg {
    inline-size: 100%;
  }

  ul,
  li {
    display: none;
  }

  @media (min-width: 1024px) {
    .logo {
      margin: 0;
    }

    ul {
      display: contents;
    }

    li {
      display: block;
      font-size: 0.8rem;
    }
  }
}

.main {
  display: grid;
  row-gap: var(--base-spacing, 1rem);
}

.aside {
  columns: 3;
  padding: var(--large-spacing);
  border-bottom: 1px solid var(--gray);

  .aside__content {
    break-inside: avoid;

    display: grid;
    row-gap: var(--small-spacing);

    &:not(:first-child) {
      margin-block-start: var(--large-spacing);
    }

    .aside__title {
      font-weight: bold;
      font-size: var(--base-text);
    }
  }

  @media (min-width: 1024px) {
    inline-size: 75rem;
    margin: 0 auto;

    /* columns */
    columns: 5;
  }
}

.footer {
  padding-block: var(--base-spacing);
  margin: 0 var(--base-spacing);

  display: inline-flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: start;

  font-size: var(--x-small-text);

  abbr {
    text-decoration: none;
  }

  @media (min-width: 1024px) {
    margin: 0 auto;

    inline-size: 75rem;
    flex-flow: row nowrap;
    justify-content: space-between;

    .policy {
      margin-inline: var(--large-spacing) auto;
    }
  }
}

/* card-layout */
.item {
  inline-size: 100%;
  block-size: var(--size, 31.25rem);
  padding-block-start: var(--large-spacing, 2.5rem);

  /* background */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* flex */
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  gap: var(--small-spacing, 0.75rem);

  .item__title {
    font-size: var(--large-text, 2rem);
    font-weight: bold;
  }

  .item__subtitle {
    font-size: var(--base-text, 1.1875rem);
    font-weight: 400;

    display: flex;
    flex-flow: column nowrap;
    row-gap: var(--x-small-spacing, 0.5rem);

    > * {
      text-align: center;
    }
  }

  .wh {
    color: var(--white, #f5f5f7);
  }

  .bk {
    color: var(--black, #1d1d1f);
  }

  .item__tbc {
    font-size: var(--small-text, 1.0625rem);
    color: var(--gray);
  }

  .item__link {
    display: flex;
    flex-flow: row nowrap;
    column-gap: var(--base-spacing, 1rem);

    .fill,
    .outline {
      padding: var(--x-small-spacing, 0.5rem);
      font-size: var(--xx-small-text, 0.75rem);
      border-radius: 100px;

      &:hover {
        transform: scale(1.1);
        transition: all 1s;
      }
    }

    .fill.blue {
      background-color: var(--blue-300, #0071e3);
      color: var(--white, #f5f5f7);

      &:hover {
        background-color: var(--blue-100, #2997ff);
      }
    }

    .outline.blue {
      border: 1px solid currentColor;
      color: var(--blue-300);

      &:hover {
        border: 1px solid var(--blue-100, #2997ff);
        background-color: var(--blue-100, #2997ff);
        color: var(--white, #f5f5f7);
      }
    }

    .fill.bk {
      background-color: var(--black, #1d1d1f);
      color: var(--white, #f5f5f7);
    }

    .outline.bk {
      border: 1px solid currentColor;
      color: var(--black);

      &:hover {
        background-color: var(--black, #1d1d1f);
        color: var(--white, #f5f5f7);
      }
    }
  }
}

/* iPad-Pro */
.iPad-Pro {
  background-image: url(../products/ipad_pro.jpeg);

  @media (min-width: 1024px) {
    background-image: url(../products/ipad_pro_wide.jpeg);
  }
}

/* iPad-Air */
.iPad-Air {
  background-image: url(../products/ipad_air.jpeg);

  @media (min-width: 1024px) {
    background-image: url(../products/ipad_air_wide.jpeg);
  }
}

/* iPhone-15Pro */
.iPhone-15Pro {
  background-image: url(../products/iphone15_pro.jpeg);

  .item__tbc {
    display: none;
  }

  @media (min-width: 1024px) {
    background-image: url(../products/iphone15_pro_wide.jpeg);
  }
}

/* iPhone-15 */
.iPhone-15 {
  background-image: url(../products/iphone15.jpeg);

  .item__tbc {
    display: none;
  }

  @media (min-width: 1024px) {
    background-image: url(../products/iphone15_2x.jpeg);
  }
}

/* WATCH */
.watch {
  background-image: url(../products/apple_watch.jpeg);

  .item__tbc {
    display: none;
  }

  @media (min-width: 1024px) {
    background-image: url(../products/apple_watch_2x.jpeg);
  }
}

/* macbook-Air */
.macbook-Air {
  background-image: url(../products/macbook_air.jpeg);

  .item__tbc {
    display: none;
  }

  @media (min-width: 1024px) {
    background-image: url(../products/macbook_air_2x.jpeg);
  }
}

/* airPods-Pro */
.airPods-Pro {
  background-image: url(../products/airpods_pro.jpeg);

  .item__tbc {
    display: none;
  }

  @media (min-width: 1024px) {
    background-image: url(../products/airpods_pro_2x.jpeg);
  }
}

/* media-Query */
@media (min-width: 1024px) {
  .main {
    column-gap: var(--base-spacing, 1rem);

    .item {
      padding-block-start: var(--extra-large-spacing, 3.75rem);
    }

    .item__title {
      font-size: var(--extra-large-text, 2.5rem);
    }

    .item__subtitle {
      font-size: var(--medium-text, 1.3125rem);
    }

    .iPad-Pro,
    .iPad-Air,
    .iPhone-15Pro {
      grid-column: span 2;
    }
  }
}
